<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="header">
    <span class="heading">
      {{ title }}
    </span>
    <div class="">
      <input type="text" placeholder="What are you looking for ?" class="input-box-search" id="search" #searchTerm [(ngModel)]="searchValue"
      />
      <button disabled class="button-show-all">Show All <i class="fa fa-caret-down" aria-hidden="true"></i></button>
      <button type="submit" class="button-search" (click)="performSearch(searchTerm.value)"><i class="fa fa-search search-icon"></i></button>
    </div>
    <h3 class="text-header">You can search any gif without out search</h3>
    <h5 class="text-header">Everything you need for your creative projects, websites, banners, presentations, magazines and advertising</h5>
  </div>
  <div *ngIf="!errorOccured" class="masonry-with-columns">
    <div class="giphy-div" *ngFor="let g of giphies">
      <img class="giphy-img" src="{{g.images.original.url}}">
    </div>
  </div>
  <div class="" *ngIf="errorOccured">{{error}}</div>
  <div>
    <footer class="footer-data">
      <div class="footer-left-panel">
        <span class="footer-text">Sign Up and get free content every week.</span>
        <input type="text" placeholder="Enter Your Email ..." class="footer-input" />
        <button class="sign-up-button">Sign Up</button>
      </div>
      <div class="footer-right-panel">
        <span class="list-heading">Browse By Categories </span>
        <div class="lisiting-data">
          <ul class="list-unstyled list-data">
            <li>Graphics</li>
            <li>PSDs</li>
            <li>Icons</li>
            <li>Template</li>
            <li>Theme</li>
          </ul>
          <ul class="list-unstyled list-data">
            <li>Addons</li>
            <li>Fonts</li>
            <li>Textures</li>
            <li>Patterns</li>
            <li>Backgrounds</li>
          </ul>
          <ul class="list-unstyled list-data">
            <li>Buttons</li>
            <li>Forms</li>
            <li>GUI</li>
            <li>Navigation</li>
            <li>UI Kits</li>
          </ul>
          <ul class="list-unstyled list-data">
            <li>InfoGraphics</li>
            <li>Graphs</li>
            <li>Logos</li>
            <li>Vectors</li>
            <li>Business Cards</li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="">
      <div class="copyright-footer">
        <div class="footer-links">
          <ul class="foote_bottom_ul_amrc">
            <li>Affiliates</li>
            <li>About</li>
            <li>Contributors</li>
            <li>Press</li>
            <li>Media</li>
            <li>Carrer</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="social-icons">
          <a href="#" class="fa fa-facebook social-icon"></a>
          <a href="#" class="fa fa-twitter social-icon"></a>
          <a href="#" class="fa fa-google social-icon"></a>
          <a href="#" class="fa fa-instagram social-icon"></a>
        </div>
        <div class="copyright-message">Copyright © 2018 myCompany All rights reserved.
        </div>
      </div>
    </footer>
  </div>
</div>